footer {
    background-color: aliceblue;
    padding: 10px 100px;
    border-top: 2px solid green;
}

.ftr-col-1 {
    margin: 0px 50px;
    font-size: 25px;
}

#post {
    padding: 10px;
}

.card {
    margin: 50px 10px;
}

.jumbotron {
    flex: 1 100px;
}

#img-post {
    height: 350px;
}

a {
    text-decoration: none;
    color: black;
}

.footer-icon {
    padding-right: 10px;
}

.section {
    background: #f4eeff;
    border-radius: 2px;
    padding-top: 150px;
}

.cuerpo {
    margin-top: 100px;
    margin-bottom: 50px;
}

.espacio {
    width: 350px;
}

.butonn {
    width: 400px;
    height: 100px;
    font-size: 50px;
    background-color: burlywood;
}

.buton {
    width: 200px;
}

#formulario {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chec {
    margin: 50px;
}

.tab-content {
    padding-top: 15px;
}

.casillero {
    width: 500px;
}

input,
textarea {
    border: none;
    resize: none;
    outline: none;
    padding: 10px 10px;
    width: 70%;
    margin: 5px;
    transition: all 200ms;
    border-bottom: 1px solid;
}

input:focus,
textarea:focus {
    border-bottom: #000000 2px solid;
}

.input-correct {
    border-bottom: #40c900 2px solid;
}

.input-error {
    border-bottom: #ff0404 2px solid;
}

.navv {
    height: 50px;
    padding-top: 100px;
}

.img-pro {
    padding-top: 60px;
    margin-right: 50px;
}

button {
    border: none;
    outline: none;
    background: black;
    color: white;
    padding: 15px;
    width: 50px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
    margin: 15px 0px;
    cursor: pointer;
    transition: all 200ms;
}

#spinner {
    display: none;
}

.habiliB:hover {
    transform: scale(1.15);
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
    border: none;
    outline: none;
    background: black;
    color: white;
    padding: 15px;
    width: 150px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
    margin: 15px 0px;
    cursor: pointer;
    transition: all 200ms;
}

@media all and (max-width: 770px) {
    #navbarNavDropdown {
        display: none;
        width: 200px;
    }
    .logo-page {
        width: 100;
    }
    #botonM {
        width: 80px;
    }
}