@yellow: #cfb62b;
@red: #ff0404;
@green: #40c900;
@black: #000000;
@whitepalid: aliceblue;
.margenes(@top: 0px, @right: 0px, @left: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-right: @right;
    margin-left: @left;
    margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @left: 0px, @bottom: 0px) {
    padding-top: @top;
    padding-right: @right;
    padding-left: @left;
    padding-bottom: @bottom;
}

footer {
    background-color: @whitepalid;
    .padding(10px, 100px, 100px, 10px);
    border-top: 2px solid $green;
}

.ftr-col-1 {
    .margenes(0px, 50px, 50px, 0px);
    font-size: 25px;
}

#post {
    .padding(10px, 10px, 10px, 10px);
}

.card {
    .margenes(50px, 10px, 10px, 50px);
}

.jumbotron {
    flex: 1 100px;
}

#img-post {
    height: 350px;
}

a {
    text-decoration: none;
    color: @black;
}

.footer-icon {
    .padding(0px, 10px, 0px, 0px);
}

.section {
    background: #f4eeff;
    border-radius: 2px;
    .padding(150px, 0px, 0px, 0px);
}

.cuerpo {
   .margenes(100px, 0px, 0px, 50px);
}

.espacio {
    width: 350px;
}

.butonn {
    width: 400px;
    height: 100px;
    font-size: 50px;
    background-color: burlywood;
}

.buton {
    width: 200px;
}

#formulario {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chec {
    margin: 50px;
}

.tab-content {
    .padding(15px, 0px, 0px, 0px);
}

.casillero {
    width: 500px;
}

input,
textarea {
    border: none;
    resize: none;
    outline: none;
    .padding(10px, 10px, 10px, 10px);
    width: 70%;
    margin: 5px;
    transition: all 200ms;
    border-bottom: 1px solid;
}

input:focus,
textarea:focus {
    border-bottom: @black 2px solid;
}

.input-correct {
    border-bottom: @green 2px solid;
}

.input-error {
    border-bottom: @red 2px solid;
}

.navv {
    height: 50px;
    .padding(100px, 0px, 0px, 0px);
}

.img-pro {
    .padding(60px, 0px, 0px, 0px);
    .margenes(0px, 50px, 0px, 0px);
}

button {
    border: none;
    outline: none;
    background: @black;
    color: white;
    .padding(15px, 15px, 15px, 15px);
    width: 50px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
   .margenes(15px, 0px, 0px, 15px);
    cursor: pointer;
    transition: all 200ms;
}

#spinner {
    display: none;
}

.carousel {
    .padding(50px, 0px, 0px, 0px);
}

.habiliB:hover {
    transform: scale(1.15);
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
    border: none;
    outline: none;
    background: @black;
    color: white;
    padding: 15px;
    width: 150px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 5px;
    margin: 15px 0px;
    cursor: pointer;
    transition: all 200ms;
}

@media all and (max-width: 770px) {
    #navbarNavDropdown {
        display: none;
        width: 200px;
    }
    .logo-page {
        width: 100;
    }
    #botonM {
        width: 80px;
    }
}