footer {
  background-color: aliceblue;
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
  border-top: 2px solid #40e900; }

.ftr-col-1 {
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 25px; }

#post {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px; }

.card {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px; }

.jumbotron {
  flex: 1 100px; }

#img-post {
  height: 350px; }

a {
  text-decoration: none;
  color: #000000; }

.footer-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 0px;
  padding-bottom: 0px; }

.section {
  background: #f4eeff;
  border-radius: 2px;
  padding-top: 150px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.cuerpo {
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 50px; }

.espacio {
  width: 350px; }

.butonn {
  width: 400px;
  height: 100px;
  font-size: 50px;
  background-color: burlywood; }

.buton {
  width: 200px; }

#formulario {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.chec {
  margin: 50px; }

.tab-content {
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.casillero {
  width: 500px; }

input,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin: 5px;
  transition: all 200ms;
  border-bottom: 1px solid; }

input:focus,
textarea:focus {
  border-bottom: #000000 2px solid; }

.input-correct {
  border-bottom: #40e900 2px solid; }

.input-error {
  border-bottom: #ff0404 2px solid; }

.navv {
  height: 50px;
  padding-top: 100px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.img-pro {
  padding-top: 60px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 0px;
  margin-bottom: 0px; }

button {
  border: none;
  outline: none;
  background: #000000;
  color: white;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 50px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 200ms; }

#spinner {
  display: none; }

.carousel {
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.habiliB:hover {
  transform: scale(1.15);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  border: none;
  outline: none;
  background: #000000;
  color: white;
  padding: 15px;
  width: 150px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  margin: 15px 0px;
  cursor: pointer;
  transition: all 200ms; }

@media all and (max-width: 770px) {
  #navbarNavDropdown {
    display: none;
    width: 200px; }
  .logo-page {
    width: 100; }
  #botonM {
    width: 80px; } }
